extends ../modules/layout/layout.jade

block title
  title Кейс Gelios

block content
  .main
    .m_breadcrumbs
      .container-fluid
        ul
          li: a(href="#") Главная
          li: a(href="#") Агенство
          li: a(href="#") Кейсы наших клиентов
          li: a(href="#") Кейс Gelios
    main
      .container-fluid
        .content
          .m_work
            .section-title.border.left.medium
              h1 Какпривлечь клиентов, когда новый сайт в разработке
            article.m_article
              img(src="images/works/gelios/lead.jpg", alt="")
              h3 Ситуация:
              p Эта история произошла в конце 2013 г.  В агентство «Пикмедиа» обратилась компания «Гелиос Парк»  с запросом на разработку нового сайта. Компания занимается строительством бассейнов для загородных домов под ключ.
              p Так как завершался сезон, заказчик хотел найти нескольких клиентов  во время разработки нового сайта, чтобы равномерно загрузить свои мощности до конца года.
              p Текущий сайт был неработоспособен и не подлежал модернизации.  Запуск нового сайта  мы запланировали  через 1, 5 месяца.

              h3 Выбранное решение:
              p Мы предложили быстро создать посадочную страницу с уникальной акцией. Суть акции была в том, что клиенты могли бесплатно заказать индивидуальный проект бассейна с детальной сметой, а построить  бассейн могли уже в новом сезоне. Идея была оригинальной, никто из конкурентов на тот момент таких акций не проводил.
              p Наш заказчик согласился с этой идей.  Мы тщательно, несмотря на жесткие сроки,  подошли к разработке этой целевой страницы.  Все элементы landing page были спроектированы с учетом правил юзабилити и требований этого эффективного инструмента.
              .after
                img(src="images/works/gelios/after.png", alt="")
              p За неделю посадочная страница была разработана и установлена на существующий домен. Источниками трафика на эту страницу служили контекстная реклама и 2 партнерских сайта производителей  бассейнов.
              p Результаты не заставили себя ждать. Уже в первые дни после размещения целевой страницы, пошли запросы потенциальных клиентов. Это положительно повлияло и на скорость разработки сайта. Так как наш заказчик стал более лояльным и быстро согласовывал прототипы, дизайн и контент.

              .results
                .section-title.small.left
                  h2.small Результаты
                p После запуска сайта, который состоялся даже чуть раньше запланированных сроков, мы подвели итоги рекламной кампании с использованием посадочной страницы.
                p Оказалось, что 2 клиента уже разместили заказ на строительство бассейна, а еще 3 клиента находились на этапе формирования договора. К сожалению, точное количество запросов зафиксировать не удалось, потому что заказчик не успел организовать фиксацию всех запросов в компанию.  По приблизительной оценке самого заказчика,  поступило   около 15 запросов.
                p В дальнейшем, развивая первый успешный опыт, на сайте нашего заказчика были созданы несколько посадочных страниц по разным темам, интегрированных в структуру сайта.
        .sidebar.small-radius
          ul
            li: a(href="#"): span Об агентстве
            li.current: a(href="#"): span Кейсы наших клиентов
            li: a(href="#"): span Наши публикации
            li: a(href="#"): span Отзывы наших клиентов
            li: a(href="#"): span Новости
            li: a(href="#"): span Контакты
    .m_similar-works.space-large
      .container-fluid
        .section-title.small.left
          h2.small Читайте также
        .row
          .col-sm-4.col-xs-12
            .image: a(href="#" style="background-image: url('images/works/similar/1.jpg')").url-image
            .title: a(href="#"): span Виалон Ойл
            .paragraph.small Разработка промо сайта с интеграцией  уникального онлайн сервиса
          .col-sm-4.col-xs-12
            .image: a(href="#" style="background-image: url('images/works/similar/2.jpg')").url-image
            .title: a(href="#"): span Аккорд системс
            .paragraph.small Разработка промо сайта с интеграцией  уникального онлайн сервиса
          .col-sm-4.col-xs-12
            .image: a(href="#" style="background-image: url('images/works/similar/3.jpg')").url-image
            .title: a(href="#"): span Гелиос Парк
            .paragraph.small Разработка промо сайта с интеграцией  уникального онлайн сервиса

