extends ../modules/layout/layout.jade

block title
  title Кейс Wialon

block content
  .main
    .m_breadcrumbs
      .container-fluid
        ul
          li: a(href="#") Главная
          li: a(href="#") Агенство
          li: a(href="#") Кейсы наших клиентов
          li: a(href="#") Кейс Wialon
    main
      .container-fluid
        .content
          .m_work
            .section-title.border.left.medium
              h1 Разработка промо сайта с интеграцией  уникального онлайн сервиса
            article.m_article
              img(src="images/works/wialon/lead.jpg", alt="")
              h3 Ситуация:
              p Компания «Виалон Ойл» - поставщик уникальных решений Wialon Oil Cards и Wialon oil Service.
              p Программные продукты «Виалон Ойл» включают в себя систему мониторинга транспорта и расхода топлива.  Также компания предлагает своим клиентам топливные карты ведущих брендов.
              p У клиента имелся сайт-визитка с минимальным функционалом и основной информацией об услугах. Сайт перестал отражать текущее позиционирование компании и не отвечал бизнес-целям на 2015-16 года.
              .before
                img(src="images/works/wialon/before.png", alt="")
              .label Было
              h3 Выбранное решение:
              p Наши специалисты предложили разработать  новый сайта для более презентабельного представления услуг и повышения удобства пользования клиентами.  Также предполагалась интеграция  на сайт внешнего онлайн  сервиса, через который клиенты могли бы получать оперативную информацию о текущей ситуации по заказанным услугам.
              p Также была согласована идея по  созданию интерактивной карте автозаправок всех своих партнеров-производителей топлива в масштабах России.
              p С точки зрения администрирования сайта, была предложена удобная для быстрого и легкого  редактирования и наполнения контента.

              .results
                .section-title.small.left
                  h2.small Результаты
                .list
                  .item
                    .cell
                      .image: img(src="images/works/wialon/after-1.png", alt="")
                      .text
                        .paragraph Нами был разработана концепция сайта и подробный интерактивный прототип с живым контентом, который упростил и ускорил этап создания дизайна.
                p В процессе работы над интерактивным прототипом было проведено несколько этапов тестирования внутренней фокус-группой. Состоялось несколько сессий обсуждений прототипа и необходимого функционала на рабочей группе, в которую вошли как специалисты агентства «Пикмедиа», так и ключевые лица клиента.
                p После нескольких редакций интерактивный прототип был утвержден и проект перешел на этапы разработки дизайна и технического задания.
                .list
                  .item
                    .cell
                      .image.mobile: img(src="images/works/wialon/after-2.png", alt="")
                      .text
                        .paragraph Сайт реализован на UMI CMS, редакция Corporate. С точки зрения удобства управлением контентом, сайт полностью удовлетворил нашего заказчика, т. к. на этапе выбора CMS было протестировано еще несколько платных и бесплатных CMS.
                      .image.desktop: img(src="images/works/wialon/after-2.png", alt="")
                  .item
                    .cell
                      .image: img(src="images/works/wialon/after-3.png", alt="")
                      .text
                        .paragraph Сайт интегрирован с внутренним сервисом для клиентов «Виалон Ойл», который показывает всю актуальную информацию о картах и привязанных к ним автомашинам. Т. е. клиент может в любое время выставить лимит на количество топлива, узнать, где находится автомобиль, на каких заправках заправлялся и т. д.
                  .item
                    .cell
                      .image.mobile: img(src="images/works/wialon/after-4.png", alt="")
                      .text
                        .paragraph Главная страница сайта полностью адаптивна под различные экраны устройств. Дизайн внутренних страниц выполнен в стиле «целевая страница» для повышения конверсии и для улучшения пользовательского поведения.
                      .image.dekstop: img(src="images/works/wialon/after-4.png", alt="")
                  .item
                    .cell
                      .image: img(src="images/works/wialon/after-5.png", alt="")
                      .text
                        .paragraph На сайте реализована интерактивная карта. Данные на карту выводятся на основе API с отдельного сервера клиента. Пользователь сайта может отфильтровать метки с автозаправками на карте по различным свойствам, начиная от типа топлива, бренда заправки, заканчивая наличием парковки, кафе и т. д.
                p Реализован раздел с успешными кейсами клиентов использующих в работе продукты Wialon Oil.
                p На сайте так же сделан раздел тех. поддержки, где пользователь может обратиться в тех. поддержку, ознакомиться с ответами на популярные вопросы, и предложить свое улучшение для продукта. Каждое предложенное улучшение имеет ветку комментариев, где пользователи могут оставлять свои пожелания к сервису.
        .sidebar.small-radius
          ul
            li: a(href="#"): span Об агентстве
            li.current: a(href="#"): span Кейсы наших клиентов
            li: a(href="#"): span Наши публикации
            li: a(href="#"): span Отзывы наших клиентов
            li: a(href="#"): span Новости
            li: a(href="#"): span Контакты
    .m_similar-works.space-large
      .container-fluid
        .section-title.small.left
          h2.small Читайте также
        .row
          .col-sm-4.col-xs-12
            .image: a(href="#" style="background-image: url('images/works/similar/1.jpg')").url-image
            .title: a(href="#"): span Виалон Ойл
            .paragraph.small Разработка промо сайта с интеграцией  уникального онлайн сервиса
          .col-sm-4.col-xs-12
            .image: a(href="#" style="background-image: url('images/works/similar/2.jpg')").url-image
            .title: a(href="#"): span Аккорд системс
            .paragraph.small Разработка промо сайта с интеграцией  уникального онлайн сервиса
          .col-sm-4.col-xs-12
            .image: a(href="#" style="background-image: url('images/works/similar/3.jpg')").url-image
            .title: a(href="#"): span Гелиос Парк
            .paragraph.small Разработка промо сайта с интеграцией  уникального онлайн сервиса

