extends ../modules/layout/layout.jade

block title
  title Статья

block content
  .main
    .m_breadcrumbs
      .container-fluid
        ul
          li: a(href="#") Главная
          li: a(href="#") Агенство
          li: a(href="#") Публикация
          li: a(href="#") 4 мифа о landing page
    main
      .container-fluid
        .content
          .m_news
            .section-title.border.left.medium
              h1 4 мифа о landing page
            article.m_article
              p Уже много сказано об эффективности такого инструмента интернет-маркетинга как landing page, (или целевая/посадочная страница). При этом, многие заказчики до сих пор верят в мифы об волшебных лэндингах.
              p Эти мифы, если их своевременно не развеивать, могут свести на нет всю пользу от целевых страниц и вызвать глубокое разочарование у заказчиков. Исполнитель от такого сотрудничества, также может остаться в финансовом и психологическом минусе.
              p В своей работе мы постоянно сталкиваемся с такими мифами. Лучше всего, в самом начале сотрудничества эти мифы проработать так, чтобы у клиентов было более реалистичное отношение к разработке целевых страниц.
              p При отработке возражений, уместно будет рассказать о нескольких удачных решениях, которые вы уже применяли, показать живые примеры эффективных лэндингов. На этих примерах кратко пройтись по основным элементам лэндинга, объяснить, как будет вестись работа над проектом. Если переубедить не получается, лучше с такими клиентами не работать
              h3 Миф № 1 «Лэндинг – волшебное средство для повышения продаж»
              img(src="images/article.png", alt="")
              p Целевая страница – не волшебная таблетка, которая чудесным образом может решить все проблемы с продажами. В первую очередь, важна потребительская ценность продукции или услуги. Лэндинг — всего лишь красивая витрина для представления услуги или продукции потребителям.
              .external: a(href="#")
                span Читать полностью на habr.ru
                i.icon-arrow
        .sidebar.small-radius
          ul
            li: a(href="#"): span Об агентстве
            li: a(href="#"): span Кейсы наших клиентов
            li: a(href="#"): span Наши публикации
            li: a(href="#"): span Отзывы наших клиентов
            li.current: a(href="#"): span Новости
            li: a(href="#"): span Контакты
