extends ../modules/layout/layout.jade

block title
  title Коммерческое предложение

block content
  .m_full-section.offer
    .m_breadcrumbs
      .container-fluid
        ul
          li: a(href="#") Главная
          li: a(href="#") Услуги
          li: a(href="#") Разработка сайтов
    .offer-lead
      .vertical-outer
        .vertical-inner
          .logo: img(src="images/kp/logo.png" alt="")
          .title
            h2 Коммерческое предложение
            p Разработка сайта для компании «Климатвиль»
          .date 17 апреля 2017 года
          .mouse
  .main
    .m_offer
      section
        .wrapper
          article
            h2 Уважаемый Владислав!
            p Мы подготовили коммерческое предложение на разработку интернет-магазина на основе ваших пожеланий.  Предлагаем Вам индивидуальную разработку сайта, в которой буду учтены все ваши требования как по функционалу, дизайну и юзабилити.
            p Наша задача – сделать эффективный бизнес-инструмент, который будет более высокого уровня, чем у ваших конкурентов.
          .section-title: h2 Индивидуальная разработка<br> интернет-магазина
          .responsive-table
            table
              tr
                th Этап
                th Перечень услуг
                th Стоимость этапа, руб.
                th Сроки раб. дн.
              tr
                td 1
                td Разработка интерактивного прототипа сайта
                td 12 000
                td 5
              tr
                td 2
                td Разработка индивидуального дизайна страниц и форм
                td от 30 000
                td 10
              tr
                td 3
                td Формирование и согласование технического задания на основе разработанного дизайна и брифа
                td 7 000
                td 5
              tr
                td 4
                td Html-верстка макета в т. ч. адаптивная верстка (определяется от кол-ва и сложности макетов)
                td от 30 000
                td 10-12
              tr
                td 5
                td Программирование в т. ч. интеграция с типовой конфигурацией 1С: Управление торговлей (зависит от сложности функционала и определяется после согласования дизайна и ТЗ)
                td 12 000
                td 12-21
              tr
                td(colspan="2") Итого
                td от 127 000
                td 42-53
          article
            p Предлагаем прозрачную и поэтапную систему оплаты, с предоставлением результатов по каждому из завершенных этапов.  То есть, каждый этап вы можете оплачивать отдельно.
            p Стоимость может увеличиваться или уменьшаться в зависимости от сложности согласованного прототипа, дизайна и ТЗ.
            p Услуги по разработке контента, наполнению и оптимизации сайта в смету не включены.  При необходимости, на данные услуги составляется отдельная смета.
            p Сайт реализуется UMI CMS версия Commerce (лицензия приобретается отдельно) <a target="_blank" href="http://www.umi-cms.ru/editions/commerce/">http://www.umi-cms.ru/editions/commerce/</a>
            p Cтоимость лицензии — <b>34 900 руб.</b>
        .section-desc
          .item
            .wrap
              .text
                .title Примеры сайтов с индивидуальной разработкой:
                ul
                  li: a(href="#") pskws.ru
                  li: a(href="#") www.geliospark.com
                  li: a(href="#") etparts.ru
                  li: a(href="#") wialon-oil.com
                  li: a(href="#") wo.taxi
          .item
            .wrap
              .text
                .title Состав команды:
                ul
                  li Проектировщик интерфейсов
                  li UI/UX дизайнер
                  li Front-end разработчик
                  li Программист
                  li Менеджер проекта
                  li Контент-менеджер
        .wrapper
          article
            h3 Особенности сайта, который вы получите:
            ul
              li Адаптивный (удобно смотреть на телефонах, планшетах и смартфонах)
              li Современный дизайн и высокий уровень юзабилити (будет актуален -3-5 лет)
              li Удобно управлять и редактировать содержание сайта (продвинутые CMS)
              li Низкая стоимость тех. поддержки и доработок (льготные тарифы для постоянных клиентов)
      section
        .wrapper
          .section-title: h2 РАЗРАБОТКА САЙТА НА ОСНОВЕ ГОТОВОГО РЕШЕНИЯ
          article
            p Сайт разрабатывается на CMS WordPress, в качестве дизайна для сайтов используется шаблон, выкупленный на платном западном marketpalce <a href="http://www.themeforest.net">themeforest.net</a>. <br>Изменения, улучшения и дальнейшие доработки возможны в рамках заданного шаблоном дизайна.
          .responsive-table
            table
              tr
                th ЭТАП
                th ПЕРЕЧЕНЬ УСЛУГ
                th СТОИМОСТЬ ЭТАПА, РУБ.
                th СРОКИ РАБ. ДН.
              tr
                td 1
                td Подбор шаблона
                td 3 000
                td 2
              tr
                td 2
                td Выкуп шаблона
                td 5 000
                td 1
              tr
                td 3
                td Формирование и согласование технического задания на адаптацию шаблона
                td 7 000
                td 5
              tr
                td 4
                td Настройка шаблона на cms. Адаптация под задачи заказчика в рамках дизайна и технически реализованных разработчиками шаблона возможностей.<br>Программирование/Тестирование/Отладка сайта.
                td 28 000 - 35 000
                td 10-12
              tr
                td(colspan="2") Итого
                td 43 000 - 35 000
                td 18-23
          article
            p В сроки реализации проекта не заложены возможные риски по задержки с согласованием этапов работ со стороны Заказчика.
            p Сайт разрабатывается на системе управления контентом CMS WordPress.
            p Вся работа ведется и оплачивается по-этапно. Стоимость этапов может увеличиваться или уменьшаться в зависимости от объема работ в согласованном ТЗ.
            p Услуги по разработке контента, наполнению и оптимизации сайта в смету не включены.  При необходимости, на данные услуги составляется отдельная смета.
        .section-desc
          .item
            .wrap
              .text
                .title Примеры сайтов с индивидуальной разработкой:
                ul
                  li: a(href="#") tv-kartina.ru
                  li: a(href="#") esi.biz
                  li: a(href="#") etbestcorck.ru
                  li: a(href="#") secure-word.ru
          .item
            .wrap
              .text
                .title Состав команды:
                ul
                  li Дизайнер
                  li Программист
                  li Менеджер проекта
                  li Контент-менеджер
      section
        .wrapper
          .section-title: h2 НАПОЛНЕНИЕ САЙТА КОНТЕНТОМ
          .responsive-table
            table
              tr
                th ЭТАП
                th ПЕРЕЧЕНЬ УСЛУГ
                th СТОИМОСТЬ ЭТАПА, РУБ.
                th СРОКИ РАБ. ДН.
              tr
                td 1
                td Наполнение сайта контентом, предоставленным заказазчиком (в зависимости от объема)
                td от 10 000 до 18 000
                td 3-7
      section
        .wrapper
          .section-title: h2 ПОИСКОВАЯ ОПТИМИЗАЦИЯ САЙТА
          .responsive-table
            table
              tr
                th ЭТАП
                th ПЕРЕЧЕНЬ УСЛУГ
                th СТОИМОСТЬ ЭТАПА, РУБ.
              tr
                td 1
                td Оптимизация сайта под поисковые запросы Яндекс, Гугл
                td 16 500 руб.
          article
            p: b В стоимость работ включена бесплатная тех. поддержка сайта в объеме 3 часов, в рамках которой можно дорабатывать сайт.
            p В стоимость работ по оптимизации сайта под поисковые запросы входит: разработка seo оптимизированный текстов. Каждый текст не менее 1500 знаков.
      section.bg-gray
        .wrapper
          .section-title: h2 Наименование работ, входящих в состав услуги поисковая оптимизация
          article
            ul
              li Анализ сайта и его характеристик (домен, контент, структура).
              li Распределение запросов по страницам, составление схемы «страница-запрос» для сайта.
              li Составление технического задания для копирайтеров по написанию оптимизированных текстов для сайта.
              li Разработка текстов, добавление готовых текстов на сайт.
              li Добавление сайта на индексацию в поисковые системы, инициализация в сервисах для вебмастеров.
              li Установка систем аналитики для отслеживания статистики сайта. Счетчики Яндекс Метрика и Гугл Аналитикс
              li Подготовка и добавление в корневую директорию сайта специальных файлов sitemap.xml и robots.txt (для роботов поисковых систем).
              li Оптимизация кода страниц и разметки: мета-теги, title, теги выделений и заголовков.
              li Оптимизация рисунков и перелинковка внутренних страниц.
              li Техническая оптимизация сайта: исключение дублей сайта и отдельных страниц, простановка перенаправлений, приведение кода сайта в соответствие требованиям поисковых систем.
      section
        .wrapper
          .section-title: h2 ПОИСКОВОЕ ПРОДВИЖЕНИЕ САЙТА
          .responsive-table
            table
              tr
                th ЭТАП
                th ПЕРЕЧЕНЬ УСЛУГ
                th СТОИМОСТЬ ЭТАПА, РУБ.
              tr
                td 1
                td Оптимизация сайта под поисковые запросы Яндекс, Гугл
                td 16 500 руб.
          article
            p <b>Важно!</b><br>В стоимость услуг продвижения включена бесплатная техническая поддержка и доработки сайта в объеме 3 часов работы в месяц.
      section.bg-gray
        .wrapper
          .section-title: h2 Список работ, входящих в услугу SEO продвижения
          article
            ul
              li
                b Ежемесячная корректировка оптимизации сайта (приведение кода сайта в соответствие требованиям и изменениям в алгоритмах поисковых систем):
                ul
                  li корректировка текстов
                  li корректировка заголовков, мета и title тегов
                  li оптимизация рисунков
                  li внутренняя перелинковка страниц
                  li оптимизация новых страниц
              li
                b Наращивание внешней ссылочной массы сайта:
                ul
                  li анализ ссылочной массы конкурентов
                  li размещение ссылок на популярных внешних ресурсах, в новостях, статьях
                  li подготовка текстов ссылок
                  li подбор площадок для размещения
                  li закупка новых ссылок.
              li
                b Поддержка продвижения:
                ul
                  li проверка и ежемесячная поддержка внешней ссылочной массы
                  li проверка текстов сайта на уникальность
                  li анализ страниц сайта на предмет дублей
                  li проверка сайта на наличия ошибок (битые ссылки, 404 страницы, скорость загрузки)
                  li настройка файла robots.txt
                  li анализ на наличие фильтров со стороны поисковых систем
              li
                b Аналитика:
                ul
                  li еженедельная проверка позиций
                  li анализ статистики сайта
                  li анализ юзабилити и вынесение рекомендаций по улучшению сайта
                  li подготовка отчетов по статистике и позициям
              li
                b Ежемесячно клиенту предоставляется отчет по продвижению, который содержит:
                ul
                  li Сводку по статистики посещения сайта по ключевым запросам,
                  li Отчет по выполненным работам,
                  li План по проведению работ на следующий месяц,
                  li Общие рекомендации для контент-менеджера компании клиента.
            p.left Отчет направляется клиенту ежемесячно 30 – 31 числа.
      section
        .wrapper
          .section-title: h2 О НАС
          article
            p Мы делаем добротные сайты и превращаем их в выгодный инструмент для привлечения клиентов. Наши клиенты – в основном представители  среднего бизнеса из Санкт-Петербурга. Мы всегда лично презентуем результаты своей работы. Нас ценят за качество работ и профессиональные отношения с  заказчиками.
            blockquote Наш девиз: <span>«Прагматичные интернет-решения»</span>
          .desc
            article
              p.left: b Это значит, что мы решаем задачи клиентов:
              ul
                li комплексно (на основе маркетингового подхода)
                li без лишних затрат (только нужные в данный момент решения)
                li с максимальной отдачей (постоянно анализируем и дорабатываем сайт и рекламные каналы для повышения отдачи)
              p.left  Работаем с 2007 г., входим в SPECIA (Содружество Петербургских цифровых агентств)  и  во все основные рейтинги разработчиков сайтов по Санкт-Петербургу.
              .cms
                p: b  Создаем сайты на популярных CMS:
                .list
                  .item: img(src="images/kp/cms-1.png" alt="")
                  .item: img(src="images/kp/cms-2.png" alt="")
                  .item: img(src="images/kp/cms-3.png" alt="")
              p C нашим портфолио можно ознакомится в <a href="#">нашем портфолио</a><br>C реальными отзывами клиентов можно ознакомиться на авторитетном портале <a href="#">CMS Magazine</a>
      section.design
        .item.image
        .item.text
          .wrap
            .section-title: h2 Проектирование - основа разработки
            article
              p Сайт – рабочий инструмент для решения бизнес-задач.  Мы сделаем этот инструмент Вашим ценным активом.
              p В разработке  сайта важны все этапы - дизайн, верстка и программирование. Мы же делаем особый упор на проектирование. В процессе работы мы вас консультируем и создаем интерактивный прототип вашего будущего сайта. Это помогает нам сделать зрелый, продуманный до мелочей проект, который не нужно будет переделывать через пару месяцев.
              p Именно проектирование снижает стоимость и сокращает сроки всех следующих этапов разработки сайта.
              p: b Вот несколько примеров интерактивного прототипа:
              ul
                li: a(href="#") Сторге.ру
                li: a(href="#") Виалон
                li: a(href="#") Гелиос Купели
      section.pluses
        .wrapper
          .section-title: h2 Аргументы в пользу сотрудничества
          article
            ul
              li <i class="icon icon-1"></i> За 7 лет мы сделали более 250 сайтов.  За это время мы отладили все этапы разработки сайта. Это гарантирует нашим клиентам высокое качество проекта при жестком соблюдении сроков.
              li <i class="icon icon-2"></i> Среди наших клиентов: «Строительный трест», ГК «СТОРГЕ», «Гелиос-Парк», Группа «ИЛИМ», «Такси 6 миллионов», «Хорошие квартиры».
              li <i class="icon icon-3"></i> Мы работаем с несколькими популярными CMS. Наши клиенты всегда могут выбрать CMS под свой бюджет и задачи.
              li <i class="icon icon-4"></i> Мы работаем поэтапно. После каждого этапа мы предоставляем вам промежуточные результаты работ. Это обеспечивает прозрачность работ и сокращает сроки реализации проекта.
              li <i class="icon icon-5"></i> Наша надежность подтверждена нахождением во всех основных рейтингах разработчиков сайтов и членством в SPECIA (Содружество Петербургских цифровых агентств).
              li <i class="icon icon-6"></i> Мы делаем сайты «под ключ» от проектирования до продвижения. Наши специалисты помогут с оптимизацией сайта и настройкой контекстной рекламы.  Это обеспечивает наших клиентов дополнительным преимуществом.
              li <i class="icon icon-7"></i> После разработки мы оказываем услуги по комплексной поддержке сайта. Помогаем сделать сайт еще лучше и эффективнее.
              li <i class="icon icon-8"></i> После запуска,  вы получаете 3 месяца бесплатного гарантийного  обслуживания сайта
          .buttons
            button.btn-blue Печать
            button.btn-blue Сохранить в pdf