extends ../modules/layout/layout.jade

block title
  title Новости

block content
  .main
    .m_breadcrumbs
      .container-fluid
        ul
          li: a(href="#") Главная
          li: a(href="#") Агенство
          li: a(href="#") Публикация
          li: a(href="#") Успешно реализовали сайт для компании Виалон Ойл
    main
      .container-fluid
        .content
          .m_news
            .section-title.border.left.medium
              h1 Заголовок H1
            article.m_article
              .date 20.08.2015
              h2 Заголовок H2
              p Интернет-магазин — сайт, торгующий товарами в интернете. Позволяет пользователям сформировать заказ на покупку, выбрать способ оплаты и доставки заказа в сети Интернет.
              p Выбрав необходимые товары или услуги, пользователь обычно имеет возможность тут же на сайте выбрать метод оплаты и доставки. Совокупность отобранных товаров, способ оплаты и доставки представляют собой законченный заказ, который оформляется на сайте путем сообщения минимально необходимой информации о покупателе. Информация о покупателе может храниться в базе данных магазина если бизнес-модель магазина рассчитана на повторные покупки, или же отправляться разово.
              p Отслеживание ведется с помощью методов веб-аналитики. Часто при оформлении заказа предусматривается возможность сообщить некоторые дополнительные пожелания от покупателя продавцу.
              h3 Заголовок H3
              p: i Однако, в этом случае следует быть осторожным, поскольку доказать неполучение товара электронным способом существенно сложнее, чем в случае физической доставки.
              p По данным опроса портала Mail.ru необходимость регистрации при заказе товара или услуги часто мешает пользователям совершать покупки в интернет-магазинах. В интернет-магазинах, рассчитанных на повторные покупки, также ведется отслеживание возвратов посетителя и история покупок. Кроме того, существуют сайты, в которых заказ принимается по телефону, электронной почте, Jabber или ICQ.
              h4 Маркированный список H4
              ul
                li В интернет-магазинах, рассчитанных на повторные покупки, также ведется отслеживание возвратов песетителя и история покупок.
                li Кроме того, существуют сайты, в которых заказ принимается по телефону, электронной почте, Jabber или ICQ.
              h5 Нумерованный список H5
              ol
                li В интернет-магазинах, рассчитанных на повторные покупки, также ведется отслеживание возвратов песетителя и история покупок.
                li Кроме того, существуют сайты, в которых заказ принимается по телефону, электронной почте, Jabber или ICQ.
        .sidebar.small-radius
          ul
            li: a(href="#"): span Об агентстве
            li: a(href="#"): span Кейсы наших клиентов
            li: a(href="#"): span Наши публикации
            li: a(href="#"): span Отзывы наших клиентов
            li.current: a(href="#"): span Новости
            li: a(href="#"): span Контакты
