.m_facts
  background $blue
  color #fff
  text-align center
  .slick-dots
    li
      &.slick-active button
        background #fff
      button
        border 3px solid #fff
        box-shadow inset 0 0 0 2px $blue
  .facts-carousel
    width 970px
    margin 0 auto
    padding-bottom 150px
    margin-top 50px
    @media screen and (max-width: 1024px)
      width 96%
  .icon
    height 100px
    i
      font-size 80px
