.m_full-section
  position relative
  height 100%
  padding-top 39px
  @media screen and (max-width: 992px)
    height auto
    padding-top 0
  .m_breadcrumbs
    position absolute
    left 0
    top 0
    width 100%
    @media screen and (max-width: 992px)
      position static
  .m_personal-develop,
  .m_lead-services,
  .m_portfolio,
  .m_portfolio-details,
  .m_personal-complex,
  .m_about
    height 100%
    @media screen and (max-width: 992px)
      height auto
  .m_lead-services
    @media screen and (min-width: 993px)
      padding-top 118px
      .section-title
        position absolute
        left 0
        top 39px
        width 100%
      .list
        height 100%
        .item
          height 100%
  .m_portfolio
    @media screen and (min-width: 993px)
      padding-top 118px
      padding-bottom 200px
      .portfolio-carousel-thumbs .slide
        height 200px
      .section-title
        position absolute
        left 0
        top 0
        width 100%
      .portfolio-carousel,
      .slick-list,
      .slick-track
        height 100%
      .portfolio-carousel-single
        height 100%
        .slide
          height 100%
      .portfolio-carousel-thumbs
        position absolute
        left 0
        bottom 0
        width 100%
    @media screen and (max-height: 850px)
      padding-bottom 120px
      .portfolio-carousel-thumbs .slide
        height 120px
  .m_portfolio-details
    .client
      @media screen and (min-width: 993px)
        height 100%
      .about
        @media screen and (max-height: 850px) and (min-width: 993px)
          bottom 20px
          padding 15px
      .header
        @media screen and (max-height: 850px) and (min-width: 993px)
          padding 20px
        .site
          @media screen and (max-height: 850px) and (min-width: 993px)
            margin-top 15px
  .m_about
    .intro
      @media screen and (min-width: 993px)
        padding 0
        padding-bottom 100px
      @media screen and (max-height: 750px) and (min-width: 993px)
        padding-bottom 0
    .navs
      @media screen and (max-height: 750px) and (min-width: 993px)
        margin-bottom 50px

