@keyframes mouse
  0%
    transform translateY(0)
  25%
    transform translateY(-5px)
  50%
    transform translateY(0)
  75%
    transform translateY(5px)
  100%
    transform translateY(0)

@keyframes loadline
  0%
    width 0
  100%
    width 100%

@keyframes blink
  0%
    opacity 1
  50%
    opacity .2
  100%
    opacity 1

@keyframes line1
  0%
    transform translate(0, 0)
  25%
    transform translate(-24px, 24px)
  50%
    transform translate(-12px, 12px)
  100%
    transform translate(0, 0)

@keyframes line2
  0%
    transform translate(0, 0)
  25%
    transform translate(24px, 24px)
  50%
    transform translate(12px, 12px)
  75%
    transform translate(24px, 24px)
  100%
    transform translate(0, 0)

@keyframes ace
  0%
    transform translate(0, 0)
  10%
    transform translate(-24px, -24px)
  20%
    transform translate(-12px, 24px)
  30%
    transform translate(0px, -12px)
  40%
    transform translate(-12px, 12px)
  50%
    transform translate(0, 0)
  60%
    transform translate(-24px, -24px)
  70%
    transform translate(-12px, 24px)
  80%
    transform translate(0px, -12px)
  90%
    transform translate(-12px, 12px)
  100%
    transform translate(0, 0)