.m_breadcrumbs
  background #fff
  position relative
  z-index 120
  @media screen and (max-width: 568px)
    background $blue
  ul
    cursor default
    padding 10px 0
    @media screen and (max-width: 568px)
      padding 0
  li
    position relative
    display inline-block
    vertical-align middle
    font-size 14px
    line-height 1
    margin-right 35px
    @media screen and (max-width: 568px)
      display none
    &:last-child
      margin-right 0
      @media screen and (max-width: 568px)
        display block
      &:after
        display none
      a
        color #828282
        border-bottom none
        @media screen and (max-width: 568px)
          position relative
          display block
          width 100%
          padding 17px 0 17px 45px
          color #fff
          font-weight 600
          &:hover
            color #fff
            border-bottom none
          &:after
            content ""
            width 30px
            height 30px
            background url("../images/breadcrumbs.png") no-repeat 0 0
            background-size cover
            position absolute
            left 0
            top 50%
            margin-top -15px
    &:after
      icon()
      content "\e903"
      position absolute
      right -25px
      top 0
      font-size 8px
      line-height 18px
      color $blue
    a
      anim()
      display inline-block
      vertical-align middle
      text-decoration none
      color $blue
      border-bottom 1px solid rgba(12, 133, 170, .5)
      @media screen and (max-width: 568px)
        font-size 16px
        text-align center
        text-transform uppercase
        color #fff
      &:hover
        color #000
        border-bottom 1px solid #000
