.row
  clearfix()

.vertical-outer
  display table
  width 100%
  height 100%
.vertical-inner
  display table-cell
  vertical-align middle
  width 100%

.fluid-image
  max-width 100%
  height auto
  display block

.full-abs
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  &.image
    background-repeat no-repeat
    background-position 50%
    background-size cover
.url-image
  background-repeat no-repeat
  background-position 50%
  background-size cover

.top-abs
  position absolute
  left 0
  top 0
  width 100%

.space-large-double
  padding 100px 0
  @media screen and (max-width: 992px)
    padding 60px 0
  @media screen and (max-width: 380px)
    padding 30px 0
.space-extra-large
  padding 70px 0
  @media screen and (max-width: 992px)
    padding 50px 0
  @media screen and (max-width: 380px)
    padding 15px 0
.space-large
  padding 50px 0
  @media screen and (max-width: 992px)
    padding 30px 0
  @media screen and (max-width: 380px)
    padding 15px 0

.space-medium
  padding 40px 0
  @media screen and (max-width: 992px)
    padding 30px 0
  @media screen and (max-width: 380px)
    padding 15px 0

.space-small
  padding 20px 0
  @media screen and (max-width: 380px)
    padding 15px 0

.center
  text-align center

.index-small
  z-index 10

.small-radius
  border-radius 5px
  @media screen and (max-width: 640px)
    border-radius 0
.small-shadow
  box-shadow 2px 2px 5px rgba(0,0,0,.25)
  @media screen and (max-width: 640px)
    box-shadow none

br.xs-visible
  display none
  @media screen and (max-width: 568px)
    display block

br.md-hidden
  display block
  @media screen and (max-width: 992px)
    display none

