.m_similar-works
  position relative
  background #f5f5f5
  .image
    height 250px
    margin-bottom 10px
    a
      anim()
      display block
      height 100%
      &:hover
        opacity .9
  .title
    margin-bottom 10px
    link-blue()
  .section-title
    background #f5f5f5
    padding-top 0
  .paragraph
    @media screen and (max-width: 768px)
      margin-bottom 20px