.m_footer
  position relative
  z-index 90
  background #393939
  br
    display none
    +below(850px)
      display block
  .locate,
  .email,
  .tel,
  .socials
    float left
    +below(850px)
      height 125px
    +below(420px)
      height 75px
    .title
      position relative
      margin-top 45px
      margin-bottom 25px
      color #bebebe
      cursor default
      +below(850px)
        margin-top 0
        margin-bottom 0
        padding-top 30px
        padding-bottom 5px
      i
        margin-right 5px
    .desc
      line-height 24px
      +below(850px)
        padding-right 25px
  .locate
    width 400px
    +below(420px)
      margin-bottom 25px
    .desc
      font-size 14px
      color #fff
  .socials
    float right
    width 170px
    a
      anim()
      display inline-block
      vertical-align middle
      width 24px
      height 24px
      margin-right 10px
      opacity .8
      &:hover
        opacity 1
      &.vk
        background url("../images/vk.png") no-repeat 0 0
      &.fb
        background url("../images/fb.png") no-repeat 0 0
  .email, .tel
    width 300px
  .email
    a
      anim()
      color $blue
      &:hover
        color #fff
  .tel
    color #fff
    font-size 18px
  .locate
    +below(1220px)
      width 40%
  .email, .tel, .socials
    +below(1220px)
      width 20%
  .locate, .email, .tel, .socials
    +below(960px)
      width 25%
    +below(850px)
      width 50%
    +below(420px)
      width 100%