// Footer
footer.m_footer
  .container-fluid
    .locate
      .title
        i.icon-locate
        | Наш адрес
      .desc Санкт-Петербург, <br> улица Аккуратова, 13, офис 4-6Б
    .email
      .title
        i.icon-email
        | E-mail
      .desc: a(href="#") info@pikmedia.ru
    .tel
      .title
        i.icon-tel
        | Телефон
      .desc +7 (812) 363-49-59
    .socials
      .title Мы в соц. сетях!
      .desc
        a(href="#").fb
        a(href="#").vk
